<% (0...30).each do |article_idx| %>
  <li class="hidden">
    <a href="<%= @articles[article_idx]["url"] %>">
      <%= @articles[article_idx]["title"] %>
    </a>
    <p>
      <span class="words">
        <%= @articles[article_idx]["words"] %>
      </span>
      <span class="author">
        <%= @articles[article_idx]["profile"]["last_name"] %>
      </span>
    </p>
  </li>
<% end %>
