<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kaladesh</title>
  </head>
  <body>
    <style>
      body {
        font-size: 36px;
        text-align: center;
        background-color: #ffdab9;
        padding: 20px;
      }
      a {
        text-decoration: none;
        color: green;
        display: block;
        margin-bottom: 40px;
      }
      a:hover {
        text-transform: uppercase;
      }
      ul {
        list-style: none;
      }

      .hidden {
        display: none;
      }
    </style>
    <script>
      const requestArticles = () => {
        const request = new XMLHttpRequest();
        request.addEventListener("load", function() {
          addArticles(this.responseText);
          revealTenArticles();
          window.requesting = false;
        })
        request.open('GET', 'http://localhost:4567/api/articles');
        request.send();
      };

      const revealTenArticles = () => {
        const articles = document.querySelectorAll("li.hidden")
          for (let i = 0; i < 10; i++) {
            articles[i].classList.remove("hidden");
          }
      };

      const addArticles = (data) => {
        const articles = JSON.parse(data);
        const articleList = document.querySelector("ul");

        for (let i = 0; i < articles.length; i++) {
          const li = document.createElement("li");
          const a = document.createElement("a");
          const title = document.createTextNode(`${articles[i]["title"]}`);
          a.appendChild(title);
          a.setAttribute("href", `${articles[i]["url"]}`);
          li.appendChild(a);
          li.classList.add("hidden");
          articleList.appendChild(li);
        }
      }

      const once = (fn) => {
        let called = false;
        return () => {
            if (called) { return; }
            called = true;
            fn();
        }
      }

      const revealArticles = (fetch) => {
        if (document.querySelector("li.hidden")) {
          revealTenArticles();
          window.requesting = false;
        } else {
          fetch();
        }
      };


      document.addEventListener("DOMContentLoaded", () => {
        window.requesting = false;
        const fetchArticles = once(requestArticles);

        const infiniteScroll = () => {
          if (window.requesting) return null;

          const scrollPos = window.innerHeight + window.scrollY;
          const scrollBottom = document.body.offsetHeight;

          if (scrollPos > scrollBottom) {
            window.requesting = true;
            revealArticles(fetchArticles);
          }
        }

        window.onscroll = infiniteScroll;
      });
    </script>
    <%= erb :articles %>
  </body>
</html>
