<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kaladesh</title>
  </head>
  <body>
    <style>
      body {
        font-size: 24px;
        text-align: center;
        background-color: #ffdab9;
      }
      a {
        text-decoration: none;
        color: green;
      }
      a:hover {
        text-transform: uppercase;
      }
      ul {
        list-style: none;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        window.requesting = false;

        window.onscroll = function(event) {
          console.log(`${document.body.offsetHeight} - Y: ${window.scrollY}, Height: ${window.innerHeight}`);
          if (window.requesting) return null;
          if ((window.scrollY + window.innerHeight) > document.body.offsetHeight) {
            window.requesting = true;

            moreArticles();
          }
        }
      });
      function moreArticles() {
        const request = new XMLHttpRequest();
        request.addEventListener("load", function() {
          window.requesting = false;
          const response = JSON.parse(this.responseText);
          const articleList = document.querySelector("ul");
          for (let i = 0; i < response.length; i++) {
            const element = document.createElement("li");
            element.innerHTML = response[i]["title"];
            articleList.appendChild(element);
          }
        })
        request.open('GET', 'http://localhost:4567/api');
        request.send();
      }
    </script>
    <ul>
    <% @titles.each_with_index do |title, idx| %>
      <li>
        <a href="<%= title[0] %>">
          <%= title[1] %>
        </a>
        <br />
        <span>
          <%= @tags[idx].map(&:downcase).join(" ") %>
        </span>
      </li>
    <% end %>
  </ul>
  </body>
</html>
